<h1><%= @team.name %></h1>

<h3>Coach:</h3>

<p><%= @team.user.full_name %></p>

<h3>Players:</h3>

<p>
  <% @team.players.each do |player| %>
    <li><a href="/<%= @team.user.slug %>/teams/<%= @team.id %>/players/<%= player.id %>"><%= player.full_name %></a></li><br>
  <% end %>
</p>