<h2>Welcome back, Coach <%= @user.last_name %>!</h2>

<ul>
  <% @user.teams.each do |team| %>
    <h4><li><a href="/<%= @user.slug %>/teams/<%= team.id %>"><%= team.name %></a></li></h4><br>
  <% end %>
</ul>

<h3>Create Team:</h3><br>

<form method=post action="/<%= @user.slug %>">
  <label for="name">Team Name::</label>
    <input type="text" name="name" placeholder="Name..."><br></br>

  <input type="submit" id="submit" value="Create Team">
</form>

<p style="color: red">
  <% if flash.has?(:team_error) %>
    <%= flash[:team_error] %>
  <% end %>
</p>