<h2>Welcome back, Coach <%= @user.last_name %>!</h2>

<% if @user.teams.empty? %>
  <p>You have no teams.</p>
<% else %>
  <table>
    <tr>
      <th>Team Name</th>
    </tr>
    <% @user.teams.each do |team| %>
      <tr>
        <td style="font-weight:bold;"><a href="/<%= @user.slug %>/teams/<%= team.id %>"><%= team.name %></a></td>

        <td><a href="/<%= @user.slug %>/teams/<%= team.id %>/edit">Edit</a></td>

        <td><form action="/<%= @user.slug %>/teams/<%= team.id %>/delete" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" id="delete" value="Delete">
        </form></td>
      </tr>
    <% end %>
  </table>
  <% end %>

<br></br>

<h4>Create Team:</h4><br>

<form method=post action="/<%= @user.slug %>">
  <label for="name">Team Name:</label>
    <input type="text" name="name" placeholder="Name..."><br></br>

    <p style="color: red">
      <% if flash.has?(:team_error) %>
        <%= flash[:team_error] %>
      <% end %>
    </p>

  <input type="submit" id="submit" value="Create Team">
</form>

