<h1>Welcome to Roster!</h1>

<h2>Create an account to get started!</h2>

<p style="color: red">
  <% if flash.has?(:signup_error) %>
    <%= flash[:signup_error] %>
  <% end %>
</p>

<form method=post action="/signup">
  <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Email Address...">

  <p style="color: red">
    <% if flash.has?(:email_error) %>
      <%= flash[:email_error] %>
    <% end %>
  </p>

  <label for="username">Username:</label>
    <input type="username" name="username" placeholder="Username...">

  <p style="color: red">
    <% if flash.has?(:username_error) %>
      <%= flash[:username_error] %>
    <% end %>
  </p>

  <label for="first_name">First Name:</label>
    <input type="text" name="first_name" placeholder="First Name...">

  <p style="color: red">
    <% if flash.has?(:first_name_error) %>
      <%= flash[:first_name_error] %>
    <% end %>
  </p>

  <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" placeholder="Last Name...">

  <p style="color: red">
    <% if flash.has?(:last_name_error) %>
      <%= flash[:last_name_error] %>
    <% end %>
  </p>

  <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password...">

  <p style="color: red">
    <% if flash.has?(:password_error) %>
      <%= flash[:password_error] %>
    <% end %>
  </p>


  <input type="submit" id="submit" value="Sign Up!">
</form>

<br></br>

<h4>Or <a href="/login">Log In!</a></h4>